/* ==================== 
Scroll Behavior
==================== */
html {
    scroll-behavior: smooth;
  }


/* ==================== 
Website Font
==================== */
@font-face {
    font-family:normal;
    src: url(/MyPortfolio/06-FONT/PPNeueMontreal-Book.otf)
}
@font-face {
    font-family:second;
    src: url(/MyPortfolio/06-FONT/PPEditorialNew-Regular.otf)
}

h1 {
    font-size: 17px;
    font-family: normal;
}
p {
    font-size: 17px;
    font-family: normal;
    color: #292929;
}
.p-small {
    font-size: 10px;
    font-family: normal;
    color: #292929;
}
.second-font {
    font-family: second;
    font-size: 17;
    color: black;
}
h3 {
    font-size: 17px;
    font-family: normal;
}


/* ==================== 
Link & Hover
==================== */
a {
    font-size: 17px;
    font-family: normal;
    color: #292929;
}
a:hover {
    color: #A0A09F;
}
.link-hover {
    border-bottom: 1px solid white;
}
.link-hover:hover {
    border-bottom: 1px solid #A0A09F;
}
.work-item-parent:hover .work-item-child {
    filter: grayscale(100%);
}
.link-selected {
    color: #A0A09F;
    border-bottom: 1px solid #A0A09F;
}
.wide-100 {
    font-size: 80px;
}

/* ==================== 
Padding Right
==================== */
.p-r-8 {
    padding: 0px 8px 0px 0px;
}
.padding-all-16 {
    padding: 16px;
}

/* ==================== 
Site Preloader
==================== */

.loading-screen {
    width: 100%;
    height: 100%;
  }
  
  .loader {
    font-size: 40px;
    font-family: normal;
    position: fixed;
    left: 45%;
    z-index: 100;
    color: #FCFCFC;
  }
  
  .loader:after {
    content: " %";
    font-size: 100%;
  }
  
  .after-load {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    text-align: center;
    border: none;
    z-index: 1000;
  }